        <footer>
            <div class="footer">
                <p>© 2024 ByteQueue. All Rights Reserved.</p>
                <ul>
                    <li>Contact Us</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </footer>
    </body>
</html>