<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Office Q</title>
</head>
<body>
    <header>
        <h1>OfficeQ</h1>
        <nav>
            <div class="navigation">
                <a href="#">Profile</a>
                <a href="/views/officeHours/dashboard.ejs">Dashboard</a>
                <a href="#">Log Out</a>
            </div>
        </nav>
    </header>
</body>