<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    <title>OfficeQ</title>
    </head>
    <body>
        <header>
            <div class="navbar">
                <h1>OfficeQ</h1>
                <%if(user){%>
                    <ul>
                        <!-- TODO: add profile view, link it here -->
                        <li><a href="#">Profile</a></li>
                        <li><a href="/courses">Dashboard</a></li>
                        <li><a href="/users/logout">Log Out</a></li>
                    </ul>
            <%}else{%>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/">Log In</a></li>
                    <li><a href="/users/signup">Sign Up</a></li>
                </ul>
            <%}%>
            </div>
            
        </header>