<%- include('../partials/header.ejs')%>
<main>
    <h1>Course Dashboard</h1>
    <button>Join Course</button>
    <div id="joinCourseCode">
        <label for="studentID">Student Access Code:</label>
        <input type="text" id="studentID" name="studentID">
        <label for="iaID">IA Access Code:</label>
        <input type="text" id="iaID" name="iaID">
        <button type="submit">Submit</button>
    </div>
</main>
<%- include('../partials/footer.ejs')%>