<%- include('../partials/header.ejs') %>
<main>
    <h2>My Courses</h2>

    <% if (role === 'instructor') { %>
        <a href="/courses/create" class="button">Create Course</a>
    <% } else { %>
        <a href="/courses/join" class="button">Join Course</a>
    <% } %>

    <% if (courses.length) { %>
        <% courses.forEach(course => { %>
            <div class="course">
                <div class="courseName">
                    <p><%= course.courseName %></p>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <p>There are no courses to display</p>
    <% } %> 
</main>
<%- include('../partials/footer.ejs') %>