<%- include('../partials/header.ejs')%>
<div class="courses">
    <h2>My Courses</h2>
    <h2>Create Courses</h2>
    <form action="/" method="post">
        <p>
            <label for="course">Course Name</label>
            <input title="Course Name" type="text" id="course" name="course">
        </p>
        <p>
            <label for="semester">Course Semester</label>
            <select name="semester" id="semester">
                <option value="Fall 2024">Fall 2024</option>
                <option value="Spring 2025">Spring 2025</option>
                <option value="Fall 2025">Fall 2025</option>
                <option value="spring 2026">Spring 2026</option>
        </p>
        <p>
            <label for="ia">IA Access Code</label>
            <input title="IA" type="text" id="ia" name="ia">
        </p>
        <p>
            <label for="student">Student Access Code</label>
            <input title="Student" type="text" id="student" name="student">
        </p>
        <input type="submit" value="Create">
    </form>
</div>
<%- include('../partials/footer.ejs')%>