<%- include('../partials/header.ejs')%>
<div class="courses">
    <h1>My Courses</h1>
    <h1>Create Courses</h1>
    <form method="post">
        <p>
            <label for="ia">IA Access Code</label>
            <input title="IA" type="text" id="ia" name="ia">
        </p>
        <p>
            <label for="student">IA Access Code</label>
            <input title="Student" type="text" id="student" name="student">
        </p>
        <input type="submit" value="Create">
    </form>
</div>
<%- include('../partials/footer.ejs')%>