<%- include('../partials/header.ejs') %>
<main>
    <div class="dashboard">
        <h2>My Courses</h2>
    </div>

    <% if (role === 'instructor') { %>
        <a href="/courses/create" class="button">Create Course</a>
    <% } else { %>
        <a href="#" class="button">Join Course</a>
    <% } %>

    <% if (courses.length) { %>
        <% courses.forEach(course => { %>
            <div class="course">
                <div class="image">
                    Dummy
                </div>
                <div class="courseName">
                    <p><%= course.courseName %></p>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <p class="noCourses">There are no courses to display</p>
    <% } %> 
</main>
<%- include('../partials/footer.ejs') %>