<%- include('../partials/header.ejs')%>
<main>
    <form action="/myCourses">
        <h2>My Courses</h2>
        <%if (user.role === 'instructor'){%>
            <button href="/courses">Create Course</button>
        <%}else{%>
            <button href="#">Join Course</button>
        <%}%>
        <%if(courses.length) {%>
            <%courses.forEach(course=>{%>
                <div class="course">
                    <div class="courseName">
                        <p><%= course.courseName%></p>
                    </div>
                </div>
            <% });
        } else{%>
            <p>There are no courses to display</p>
        <%}%> 
    </form>
</main>
    <%- include('../partials/footer.ejs')%>